<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>お散歩アプリ</title>
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css" rel="stylesheet" />
    <!-- <script src="https://unpkg.com/@mapbox/mapbox-gl-language/dist/mapbox-gl-language.js"></script> -->
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-language/v1.0.0/mapbox-gl-language.js'></script>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.js"></script>
    <link rel="stylesheet"
        href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.css"
        type="text/css" />

    <h1>Walking With Baby</h1>
    <p>Enjoy your preciaus moment with baby!!</p>
    <div id="map"></div>
    <script>
        mapboxgl.accessToken = 'pk.eyJ1Ijoic2F0b21paWkiLCJhIjoiY21kemViendyMGIzdzJrb2ltODFqZzdiZCJ9.oida2Ztmk9t7Gu7JQt1Qsw';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [139.7670516, 35.6811673],
            zoom: 15
        });

        //   map.addControl(
        //         new MapboxDirections({
        //             accessToken: mapboxgl.accessToken
        //         })
        //     );

    map.addControl(
        new MapboxDirections({
            accessToken: mapboxgl.accessToken
        }),
        'top-left'
    );
        // map.addControl(
        //         new MapboxGeocoder({
        //             accessToken: mapboxgl.accessToken,
        //             mapboxgl: mapboxgl
        //         })
        //     );
            
            // 言語設定を日本語に変更
            map.addControl(new MapboxLanguage({ defaultLanguage: 'ja' }));
    </script>
    <form method="POST" action="/search">
        <div class="form-section">
            <strong>Feel:</strong>
            <label>
                <input type="checkbox" name="feel" value="meet-up">
                meet-up
            </label>
            <label>
                <input type="checkbox" name="feel" value="cafe">
                cafe
            </label>
            <label>
                <input type="checkbox" name="feel" value="nature">
                nature
            </label>
            <label>
                <input type="checkbox" name="feel" value="shopping">
                shopping
            </label>
        </div>
        <div class="form-section">
            <strong>others:</strong>
            <label>
                <input type="checkbox" name="facility" value="toilet">
                baby toilets
            </label>
            <label>
                <input type="checkbox" name="facility" value="nursing">
                nursing room
            </label>
            <label>
                <input type="checkbox" name="facility" value="saicoin">
                Saicoin
            </label>
            <label>
                <input type="checkbox" name="facility" value="tamapon">
                Tamapon
            </label>
        </div>
        <div class="form-section">
            <strong>Walking Time (minutes):</strong>
            <input type="range" name="walkTime" min="20" max="60" step="10"
                oninput="this.nextElementSibling.value = this.value">
            <output>30</output> minutes
        </div>
        <div class="form-section">
            <strong>options:</strong>
            <label>
                <input type="checkbox" name="shade" value="shade">
                shade
            </label>
        </div>
        <br>
        <button type="submit">送信</button>
    </form>
</body>
</html>
